<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<string>世界中各个角落藏着很多肉眼难以发现的宝贝，只有“刹客”，才能探测它们的存在。
世界中各个角落藏着很多肉眼难以发现的宝贝，只有“刹客”，才能探测它们的存在。任何地方，打开“刹客”捕捉宝贝；兑换物品，获得刹客等级荣誉，密语机结识死党。随时随地等待刹客行动-， Come on！刹客！</string>
	<key>1</key>
	<string>所有捕捉到的宝贝都存放在“收藏盒”中，可以把宝贝卖给“道具店”或者其他玩家获得金币，可以赠送给朋友，也可以放生，小小爱心会让我们认识更多有缘人。</string>
	<key>2</key>
	<string>这些宝贝行踪不定，请用“探测仪”寻找宝贝行踪。再用“捕捉器”锁定宝贝，一旦发现，马上捕捉，千万不要犹豫</string>
	<key>3</key>
	<string>打开”捕捉器”，瞄准屏幕上的宝贝，迅速按下快门，随着一道“闪电”，也许宝贝就是你的了！记住，机灵的宝贝随时会溜走，也有可能被附近的刹客捕捉。宝贝一旦出现，迅速捕捉</string>
	<key>4</key>
	<string>每次捕捉都会消耗捕捉器的电量，当电量为0时，请到道具店购买。当然啦，每隔一段时间，捕捉器会自动增加电力。耐心等待一下也不错</string>
	<key>5</key>
	<string>图鉴里的宝贝都是“系列宝贝”，收集系列宝贝需要更多耐心，宝贝级别越高出现的频率就越低，收藏价值越高。 集齐一个系列，系统会自动开启“兑换”按钮，可以兑换相应物品。成套出售还能获得双倍升级经验和金币</string>
	<key>6</key>
	<string>用密语机添加好友，发送消息，告诉好友你在哪里。还能搜寻附近的路人和朋友，赶快来试试吧</string>
	<key>7</key>
	<string>可能是因为你的刹客等级还不够吧，或者你四处走走就看到了呢！</string>
	<key>8</key>
	<string>打开“捕捉器”，移动设备向四周看看，当宝贝靠近时，屏幕上将出现红色箭头，追随箭头移动，很快就能看到宝贝真面目了！接着按下“捕捉器”，随着一道“闪电”，宝贝就是你的了！</string>
	<key>9</key>
	<string>收藏盒满了，再捕到的宝贝就放不进去了，道具店可以购买更多收藏盒。快去吧！或许你还可以把你心爱的宝贝送给最好的朋友啊！</string>
</dict>
</plist>
