<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>11什么是“刹客”？</key>
	<string>在真实世界中埋伏着很多不为人所知的怪物……只有刹客，才能探测到它们的存在。 在任何地方，打开“刹客”捕捉怪物。享受赚取金币的快感，获得刹客特级荣誉，结识更多私密死党。随时随地，等待刹客的行动。</string>
	<key>12如何才能找到怪物？</key>
	<string>怪物行踪不定。请用“探测仪”寻找怪物行踪。可用“雷达”扫描，也可使用“地图”模式寻找，红点表示怪物地理位置，红点越密集地方，怪物数量越多。</string>
	<key>13根据雷达/地图显示位置，依然找不到怪物怎么办？</key>
	<string>打开“捕捉器”，移动镜头向四周看看。当怪物靠近时，屏幕上将出现红色闪烁箭头，提示怪物的方位。追随红色信号，怪物的面目很快就会出现啦！</string>
	<key>14地图显示位置与实际所在位置不相符？</key>
	<string>很遗憾，有时候位置的信息会因为环境而有所偏差。如被高楼大厦遮挡。建议重新探测，或者到相对开阔的地方试试吧。</string>
	<key>15怎么样捕捉怪物？</key>
	<string>打开“捕捉器”，若屏幕中出现怪物，请快速按下红色快门。记住，动作一定要快！狡猾的怪物随时会溜走。当怪物被捕捉后会挣扎进入管道，到达怪物瓶中。</string>
	<key>16捕捉器能量没有了怎么办？</key>
	<string>按下红色快门，会消耗捕捉器的能量。当捕捉器能量为0，请到道具店购买能量。当然啦，每隔一段时间，捕捉器会自动增加能量。耐心等待一下吧！</string>
	<key>17收集到怪物有什么用？</key>
	<string>所有捕捉到的怪物都存放在怪物瓶中。可以把怪物卖给道具店或者其它玩家获得金币，可以赠送给朋友，也可以将怪物放生，小小爱心会让我们认识更多有缘人。</string>
	<key>18系列怪物和普通怪物有什么区别？</key>
	<string>收集系列怪物需要更多耐心，稀有度越高，收藏价值越高。成套出售，还能获得翻倍的积分和金币。</string>
	<key>19怪物瓶放满了怎么办？</key>
	<string>怪物瓶满了，再捕捉怪物就放不进去啦！道具店可以购买更多的怪物瓶。另外，系列怪物收集全后将不占据怪物瓶空间。</string>
	<key>20为什么有些高级怪物我看不见？</key>
	<string>通过捕捉怪物获得积分。积分不可消耗，分值越高，刹客等级越高。高级别的刹客才能看见更多深藏不露的高级怪物。</string>
	<key>21密语机有哪些功能？</key>
	<string>用密语机添加好友，发送语音和文字信息，保持朋友间的联系。还能在线搜寻附近的朋友和路人。赶快试试吧！</string>
</dict>
</plist>
